---
import AtomSvg from "./AtomSvg.astro"

const justify: string = Astro.props?.justify || "center";
---

<div class={`flex items-center justify-${justify} flex-wrap gap-4 mb-7`}>
    <AtomSvg diameter={40} />
    <h2 class="font-['Montserrat'] text-3xl">
        <slot />
    </h2>
</div>